<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/1.css" />
  </head>
  <body>
    <div id="loading">
      <loader><degree></degree></loader>
    </div>
    <div id="main" onload="loaded()">
      <div id="nav" style="z-index: 99;">
        <div id="nav1" style="display: flex; margin-top: -10%;  margin-left: 20%; align-items: center;"> <h1 > <img style="width: 10%;  position: absolute; left:-15% ; margin-top: 10%;  border-radius: 50%; top: 10%;" src="/images/my pic.jpg" alt=""> Kanishk soni</h1></div>
        <div id="nav2">
          <label style="height: 130px" for="a1">
            <div id="n1">
              <a id="a1" href="https://www.instagram.com/kanishk____soni/">
                <h1>instagram</h1></a
              >
            </div></label
          >
          <div id="n2">
            <a href="https://twitter.com/KanishkS23481"><h1>x</h1></a>
          </div>
          <div id="n3">
            <a href="https://github.com/kanishk1122"><h1>github</h1></a>
          </div>
        </div>
      </div>
      <div id="con" style="margin-top: -10%;">
        <b
          ><div id="c1" style="z-index: 999">hello i'm</div>
          <div id="c2">kanishk</div>
          <div id="c3">soni</div></b
        >
      </div>
      <video style="z-index: 1" autoplay muted loop id="c4">
        <source src="/images/vis.mp4" />
      </video>
      <p style="margin-bottom: 10vh; position: absolute; top: 83vh;">scroll down</p>
      <div id="scrollin" style="margin-bottom: 30px; position: absolute; top: 90vh; z-index: 10;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="currentColor"><path d="M12.8589 2H11.1411C9.12721 2 8.04724 2.27848 7.06946 2.8014C6.09169 3.32432 5.32432 4.09169 4.8014 5.06946C4.27848 6.04724 4 7.12721 4 9.14111V14.8589C4 16.8728 4.27848 17.9528 4.8014 18.9305C5.32432 19.9083 6.09169 20.6757 7.06946 21.1986C8.04724 21.7215 9.12721 22 11.1411 22H12.8589C14.8728 22 15.9528 21.7215 16.9305 21.1986C17.9083 20.6757 18.6757 19.9083 19.1986 18.9305C19.7215 17.9528 20 16.8728 20 14.8589V9.14111C20 7.12721 19.7215 6.04724 19.1986 5.06946C18.6757 4.09169 17.9083 3.32432 16.9305 2.8014C15.9528 2.27848 14.8728 2 12.8589 2ZM11 11V6H13V11H11ZM7.75781 13.758L9.17203 12.3438L12.0005 15.1722L14.8289 12.3438L16.2431 13.758L12.0005 18.0006L7.75781 13.758Z"></path></svg></div>
      <div id="page1">
        <div id="p1c1" style="z-index: 999">
         <img style="width: 100vw; margin-left: 0%; height: 90vh; margin-top: 3px;" src="/images/1.jpg"></img>
        <div style="width: 100%;  height: 100%; background-color: #040305;">  <h1>I&nbsp;AM&nbsp;FULL&nbsp;STACK&nbsp;DEV</h1></div>
        </div>
      </div>
      <div id="page2">
        <div >
          <h1 style="margin-left: 40px; width: 60%; ">Hi<picture>
            <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.webp" type="image/webp">
            <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.gif" alt="👋" width="32" height="32">
          </picture> my name is kanishk soni i live in jaipur and i am 18 year old i start coding on 2023. i do many project but some top project are mention here you can visit my github to view my all projects.if you complete scroll down and read this you might be thing why this portfiliio make at react because i mention there in my skill because of when i start this project i not learn react that why .hope you like my portfiliio </h1>
        </div>
        
        <div id="p2c3">
          
            <div id="vp">
              </div
          >
        </div>
      </div>
      <div id="page3">
         <div id="videocur">VISIT</div>
        <h2 style="text-transform: uppercase; padding-left: 20px">
          This are my projects
        </h2>
        <p style="text-transform: uppercase; padding-left: 20px">
          visit by click video
        </p>
        <div id="arrow"><i class="ri-arrow-down-s-fill"></i></div>
        <div class="pr" id="p3c1">
          <a
            href="https://printrest.onrender.com/"
            style="width: 800px; height: 300px"
          >
            <div
              style="
                width: 80%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
              "
            >
              <video
               class="p3v"
                data-scroll
                data-scroll-speed="2"
                style="width: 100%; border-radius: 20px"
                autoplay
                muted
                loop
                src="/images/printerst.mp4"
              ></video></div
          ></a>
          <h1 style="width: 50%; margin-left: -100px; text-align: start">
            this is my pinterest project in i use mongoodb as dbms i you can
            <br />
            register and login also you can create pins and also change profile
            picture
          </h1>
        </div>
        <div class="pr" id="p3c2">
          <h1 style="width: 40%; text-align: end">
            this project scroll trigger using gsap in this i make rapileca of
            this magma side
          </h1>
          <a
            href="https://kanishk1122.github.io/canvas-p-1/"
            style="width: 800px; height: 300px"
          >
            <div
              
              style="
                width: 90%;
                height: 100%;
                padding-bottom: -10%;
                border-radius: 10px;
                overflow: hidden;
              "
            >
              <video
              class="p3v"
                data-scroll
                data-scroll-speed="2"
                style="width: 100%; border-radius: 20px"
                autoplay
                muted
                loop
                src="/images/canvas-p.mp4"
              ></video></div
          ></a>
        </div>
      </div>
      <div id="page4">
        <video loop autoplay muted src="/images/skilpv.mp4"></video>
        
      <div id="pap4c" style="margin-left: -100px;">
        <div id="p4c1"><h1>MY SKILLS</h1></div>
        <div id="p4c2u" style="animation-name: none;">
        </div>
        <div id="p4c2">
          <h1>GSAP</h1>
        </div>
        <div id="p4c3u">
       
        </div>
        <div id="p4c3">
          <h4>LOCOMOTIVE</h4>
        </div>
        <div id="p4c4u">
        </div>
        <div id="p4c4">
          <h1>HTML5</h1>
        </div>
        <div id="p4c5u">
        </div>
        <div id="p4c5">
          <h1>CSS3</h1>
        </div>
        <div id="p4c6u">
        </div>
        <div id="p4c6">
          <h3 style="text-align: center;">DBMS<br>
          WITH <br>
        MONGOODB</h3>
        </div>
        <div id="p4c7u">
        </div>
        <div id="p4c7">
          <h2 style="text-align: center;">REACT WITH<br>
          NEXT.JS</h2>
        </div>
        <div id="p4c8u">
        </div>
        <div id="p4c8">
          <h2>PTYHON</h2>
        </div>
        <div id="p4c9u">
        </div>
        <div id="p4c9">
          <h3 style="text-align: center;">BACKEND<br>
          WITH EXPRESS</h3>
        </div>
        <div id="p4c10u">
        </div>
        <div id="p4c10">
          <h2>JAVASCRIPT</h2>
        </div>
      </div>
      
      </div>
      <div style="padding-top: 30vh; height: 100vh; display: flex; justify-content: center; align-items: center; position: relative; background-color: black; " >
        <video style="width: 100%; margin-bottom: -10vh; position: absolute; height: 100%;z-index: 1;" autoplay loop muted src="/images/6.mp4"></video>
        <div   style="z-index: 99;position:absolute; left:4vw; background-color:  rgba(128, 128, 128, 0.002);backdrop-filter: blur(10px); height:fit-content; padding: 30px ; width: fit-content;border-radius: 50px;  ">
            <form action="/info" method="post"  style=" display: flex ;  gap:5vh; justify-content: center; align-items: center; ">
                <div class="formin">
                    <p style="font-size: 5vh;">please Enter your Name</p>
                    <input type="text"  style=" height: 7vh;font-size: 5vh; background:transparent;outline:none; border:none ; " name="name" placeholder="Name ">
                    <p style="font-size: 5vh;">Enter your email</p>
                    <input type="email"  style=" height: 7vh;font-size: 5vh; background:transparent;outline:none; border:none" name="email" placeholder="Email ">
                    <p style="font-size: 5vh;">enter your mobile number</p>
                    <input type="number" style=" height: 7vh;font-size: 5vh; background:transparent;outline:none; border:none" name="mobile" placeholder=" mobile Number " id="">
                    <p style="font-size: 5vh;">enter a message (if any) </p>
                    <textarea type="textarea"  style=" height: 7vh;font-size: 5vh; background:transparent;outline:none; border:none; resize: none;" name="message" placeholder="message" id=""></textarea>
               </div>
               <input type="submit"  style=" height: 7vh;font-size: 5vh; background-color: rgb(255, 255, 255); border-radius: 50px; border: none; color: #040305; " value="contact">
            </form>
            <div style="position: absolute; left: 100%; top: 20%;">
              <a href="https://www.linkedin.com/in/kanishk-soni-8047a2272/">
                <svg id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" height="30px" width="30px" version="1.1" id="Layer_1" viewBox="0 0 310 310" xml:space="preserve">
                  <g id="XMLID_801_">
                    <path id="XMLID_802_" d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73   C77.16,101.969,74.922,99.73,72.16,99.73z"/>
                    <path id="XMLID_803_" d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4   c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"/>
                    <path id="XMLID_804_" d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599   c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319   c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995   C310,145.43,300.549,94.761,230.454,94.761z"/>
                  </g>
                  </svg>
              </a>
                <a href="https://www.instagram.com/kanishk____soni/">
                  <svg id="svg2" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="#fff">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" />
                    <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z" />
                    </svg>
                </a>
                 <a href="https://twitter.com/KanishkS23481">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 512 509.64">
                    <rect width="512" height="509.64" rx="115.61" ry="115.61"/>
                    <path fill="#fff" fill-rule="nonzero" d="M323.74 148.35h36.12l-78.91 90.2 92.83 122.73h-72.69l-56.93-74.43-65.15 74.43h-36.14l84.4-96.47-89.05-116.46h74.53l51.46 68.04 59.53-68.04zm-12.68 191.31h20.02l-129.2-170.82H180.4l130.66 170.82z"/>
                  </svg>
                 </a>
                  <a href="https://github.com/kanishk1122">
                    <svg xmlns="http://www.w3.org/2000/svg" style="animation-name:none;" width="30px" height="30px" viewBox="0 0 16 16" id="github"><path fill="#fff" 
                       d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"/></svg>
                  </a>
            </div>
        </div>
      <footer>
       
      </footer>
    </div>
    <script src="/javascript/vanilla-tilt.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascript/1.js"></script>
  </body>
</html>
